#container{
    margin: 10px;
    padding: 10px;
}
select {
    width: 17%;
    font-size:25px;
    background-color: antiquewhite;
    border-radius: 5px;
    margin: 5px 0;
}

#select2{
    margin-left: 74px;
}

#message{
    text-align: center;
}

input{
    height: 30px;
    font-size: 18px;
}
#addButton{
    height: 35px;
    background-color: aliceblue;
    font-size: 15px;
}