#container{
    margin: 10px;
    padding: 10px;
}

#resort {
    width: 17%;
    font-size: 25px;
    background-color: antiquewhite;
    border-radius: 5px;
    margin: 2px 0;
}

#resort2 {
    width: 17%;
    font-size: 25px;
    background-color: antiquewhite;
    border-radius: 5px;
    margin: 2px 2px 0 77px;
}

#select1 {
    width: 17%;
    font-size:25px;
    background-color: antiquewhite;
    border-radius: 5px;
    margin: 2px 2px 75px 0;
}

#select2 {
    margin-left: 75px;
    width: 17%;
    font-size: 25px;
    background-color: antiquewhite;
    border-radius: 5px;
}

#SelectMyLove {
    height: 30px;
    width: 40.5%;
    border-radius: 5px;
    margin: 10px 0;
    font-size: 25px;
}

#message{
    text-align: center;
}

input{
    width: 17%;
    height: 30px;
    font-size: 18px;
}
#addButton{
    height: 35px;
    background-color: aliceblue;
    font-size: 15px;
}